@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root{
    background-color: var(--color-background);
    
}

@theme{
    --color-primary: #070707;
    --color-secondary: #1e293b;
    --color-tertiary: #64758b;
    --color-accent: #dce2e8;
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Fira Code', monospace;
    --color-background: #f8fafc;
}

.squish{
    transform: scaleY(0.95);
    letter-spacing: 0.3px;
}